<style>
    .footer-buttons a{
        color: #fff;
        font-size: 22px;
        margin: 0 5px;
        transition: .2s linear;
        text-align: center;
        alignment: center;
        align-self: center;
        align-items: center;
    }

    .footer-buttons a:hover{
        color: #48dbfb;
    }
    .footer{
        text-align: center;
        font-size: 60px;
        margin-bottom: 60px;

    }
    .footer-hr{
        text-align: center;
        font-size: 60px;
        margin-bottom: 60px;
        text-align: center;
    }
    .h1-footer{
        text-align: center;
        font-size: 50px;
    }
    .footer-links{
        text-align: center;
        font-size: 15px;
        align-items: center;
    }
    .footer {
        margin-bottom: 0;
        padding-bottom:8px;
    }
</style>
<footer class="footer">
    </br>
    <hr class="footer-hr">
    <div id="footer" class="footer">
        <h1 class="h1-footer">Badbird5907</h1>
        <div class="footer-buttons">
            <a href="https://twitter.com/Badbird_5907" class="fab fa-twitter"></a>
            <a href="https://www.youtube.com/channel/UChJHMoxGVajybyvXucUa0Ig/" class="fab fa-youtube"></a>
            <a href="https://badbird5907.net/discord" class="fab fa-discord"></a>
        </div>
        <div class="footer-links">
            <a href="https://status.badbird5907.net">Network Status</a>
            </br><p>placholder text</p>
        </div>
    </div>
</footer>
